.rc-picker,
.rc-picker-dropdown {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.rc-picker {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px 4px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  position: relative;
  display: inline-flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  transition: border 0.2s, box-shadow 0.2s;
}
.rc-picker:hover,
.rc-picker-focused {
  border-color: #4096ff;
  border-inline-end-width: 1px;
}
.rc-picker-focused {
  border-color: #4096ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  border-inline-end-width: 1px;
  outline: 0;
}
.rc-picker.rc-picker-disabled {
  background: rgba(0, 0, 0, 0.04);
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-picker.rc-picker-disabled .rc-picker-suffix {
  color: rgba(0, 0, 0, 0.25);
}
.rc-picker.rc-picker-borderless {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.rc-picker .rc-picker-input {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.rc-picker .rc-picker-input > input {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 1px;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 0;
  transition: all 0.2s;
  flex: auto;
  height: auto;
  background: transparent;
  border: 0;
}
.rc-picker .rc-picker-input > input::-moz-placeholder {
  opacity: 1;
}
.rc-picker .rc-picker-input > input::placeholder {
  color: rgba(0, 0, 0, 0.25);
  user-select: none;
}
.rc-picker .rc-picker-input > input:placeholder-shown {
  text-overflow: ellipsis;
}
.rc-picker .rc-picker-input > input:hover {
  border-color: #4096ff;
  border-inline-end-width: 1px;
}
.rc-picker .rc-picker-input > input:focus,
.rc-picker .rc-picker-input > input-focused {
  border-color: #4096ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  border-inline-end-width: 1px;
  outline: 0;
}
.rc-picker .rc-picker-input > input-disabled,
.rc-picker .rc-picker-input > input[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  border-color: #d9d9d9;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
.rc-picker .rc-picker-input > input-disabled:hover,
.rc-picker .rc-picker-input > input[disabled]:hover {
  border-color: #d9d9d9;
  border-inline-end-width: 1px;
}
.rc-picker .rc-picker-input > input-borderless,
.rc-picker .rc-picker-input > input-borderless:hover,
.rc-picker .rc-picker-input > input-borderless:focus,
.rc-picker .rc-picker-input > input-borderless-focused,
.rc-picker .rc-picker-input > input-borderless-disabled,
.rc-picker .rc-picker-input > input-borderless[disabled] {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
textarea.rc-picker .rc-picker-input > input {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  line-height: 1.5714285714285714;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
  resize: vertical;
}
.rc-picker .rc-picker-input > input-lg {
  padding: 7px 11px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 8px;
}
.rc-picker .rc-picker-input > input-sm {
  padding: 0px 7px;
  border-radius: 4px;
}
.rc-picker .rc-picker-input > input-rtl {
  direction: rtl;
}
.rc-picker .rc-picker-input > input-textarea-rtl {
  direction: rtl;
}
.rc-picker .rc-picker-input > input:focus {
  box-shadow: none;
}
.rc-picker .rc-picker-input > input[disabled] {
  background: transparent;
}
.rc-picker .rc-picker-input:hover .rc-picker-clear {
  opacity: 1;
}
.rc-picker .rc-picker-input-placeholder > input {
  color: rgba(0, 0, 0, 0.25);
}
.rc-picker-large {
  padding: 6.5px 11px 6.5px;
}
.rc-picker-large .rc-picker-input > input {
  font-size: 16px;
}
.rc-picker-small {
  padding: 0px 7px 0px;
}
.rc-picker .rc-picker-suffix {
  display: flex;
  flex: none;
  align-self: center;
  margin-inline-start: 4px;
  color: rgba(0, 0, 0, 0.25);
  line-height: 1;
  pointer-events: none;
}
.rc-picker .rc-picker-suffix > * {
  vertical-align: top;
}
.rc-picker .rc-picker-suffix > *:not(:last-child) {
  margin-inline-end: 8px;
}
.rc-picker .rc-picker-clear {
  position: absolute;
  top: 50%;
  inset-inline-end: 0;
  color: rgba(0, 0, 0, 0.25);
  line-height: 1;
  background: #ffffff;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s, color 0.2s;
}
.rc-picker .rc-picker-clear > * {
  vertical-align: top;
}
.rc-picker .rc-picker-clear:hover {
  color: rgba(0, 0, 0, 0.45);
}
.rc-picker .rc-picker-separator {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 16px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 16px;
  vertical-align: top;
  cursor: default;
}
.rc-picker-focused .rc-picker .rc-picker-separator {
  color: rgba(0, 0, 0, 0.45);
}
.rc-picker-disabled .rc-picker-range-separator .rc-picker .rc-picker-separator {
  cursor: not-allowed;
}
.rc-picker-range {
  position: relative;
  display: inline-flex;
}
.rc-picker-range .rc-picker-clear {
  inset-inline-end: 11px;
}
.rc-picker-range:hover .rc-picker-clear {
  opacity: 1;
}
.rc-picker-range .rc-picker-active-bar {
  bottom: -1px;
  height: 2px;
  margin-inline-start: 11px;
  background: #1677ff;
  opacity: 0;
  transition: all 0.3s ease-out;
  pointer-events: none;
}
.rc-picker-range.rc-picker-focused .rc-picker-active-bar {
  opacity: 1;
}
.rc-picker-range .rc-picker-range-separator {
  align-items: center;
  padding: 0 8px;
  line-height: 1;
}
.rc-picker-range.rc-picker-small .rc-picker-clear {
  inset-inline-end: 7px;
}
.rc-picker-range.rc-picker-small .rc-picker-active-bar {
  margin-inline-start: 7px;
}
.rc-picker-dropdown {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1050;
}
.rc-picker-dropdown .rc-picker-panel {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  background: #ffffff;
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-radius: 8px;
  outline: none;
}
.rc-picker-dropdown .rc-picker-panel-focused {
  border-color: #1677ff;
}
.rc-picker-dropdown .rc-picker-panel-rtl {
  direction: rtl;
}
.rc-picker-dropdown .rc-picker-panel-rtl .rc-picker-prev-icon,
.rc-picker-dropdown .rc-picker-panel-rtl .rc-picker-super-prev-icon {
  transform: rotate(45deg);
}
.rc-picker-dropdown .rc-picker-panel-rtl .rc-picker-next-icon,
.rc-picker-dropdown .rc-picker-panel-rtl .rc-picker-super-next-icon {
  transform: rotate(-135deg);
}
.rc-picker-dropdown .rc-picker-decade-panel,
.rc-picker-dropdown .rc-picker-year-panel,
.rc-picker-dropdown .rc-picker-quarter-panel,
.rc-picker-dropdown .rc-picker-month-panel,
.rc-picker-dropdown .rc-picker-week-panel,
.rc-picker-dropdown .rc-picker-date-panel,
.rc-picker-dropdown .rc-picker-time-panel {
  display: flex;
  flex-direction: column;
  width: 288px;
}
.rc-picker-dropdown .rc-picker-header {
  display: flex;
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.88);
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}
.rc-picker-dropdown .rc-picker-header > * {
  flex: none;
}
.rc-picker-dropdown .rc-picker-header button {
  padding: 0;
  color: rgba(0, 0, 0, 0.45);
  line-height: 40px;
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: color 0.2s;
  font-size: inherit;
}
.rc-picker-dropdown .rc-picker-header > button {
  min-width: 1.6em;
  font-size: 14px;
}
.rc-picker-dropdown .rc-picker-header > button:hover {
  color: rgba(0, 0, 0, 0.88);
}
.rc-picker-dropdown .rc-picker-header-view {
  flex: auto;
  font-weight: 600;
  line-height: 40px;
}
.rc-picker-dropdown .rc-picker-header-view button {
  color: inherit;
  font-weight: inherit;
  vertical-align: top;
}
.rc-picker-dropdown .rc-picker-header-view button:not(:first-child) {
  margin-inline-start: 8px;
}
.rc-picker-dropdown .rc-picker-header-view button:hover {
  color: #1677ff;
}
.rc-picker-dropdown .rc-picker-prev-icon,
.rc-picker-dropdown .rc-picker-next-icon,
.rc-picker-dropdown .rc-picker-super-prev-icon,
.rc-picker-dropdown .rc-picker-super-next-icon {
  position: relative;
  display: inline-block;
  width: 7px;
  height: 7px;
}
.rc-picker-dropdown .rc-picker-prev-icon::before,
.rc-picker-dropdown .rc-picker-next-icon::before,
.rc-picker-dropdown .rc-picker-super-prev-icon::before,
.rc-picker-dropdown .rc-picker-super-next-icon::before {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 0 solid currentcolor;
  border-block-start-width: 1.5px;
  border-block-end-width: 0;
  border-inline-start-width: 1.5px;
  border-inline-end-width: 0;
  content: '';
}
.rc-picker-dropdown .rc-picker-super-prev-icon::after,
.rc-picker-dropdown .rc-picker-super-next-icon::after {
  position: absolute;
  top: 4px;
  inset-inline-start: 4px;
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 0 solid currentcolor;
  border-block-start-width: 1.5px;
  border-block-end-width: 0;
  border-inline-start-width: 1.5px;
  border-inline-end-width: 0;
  content: '';
}
.rc-picker-dropdown .rc-picker-prev-icon,
.rc-picker-dropdown .rc-picker-super-prev-icon {
  transform: rotate(-45deg);
}
.rc-picker-dropdown .rc-picker-next-icon,
.rc-picker-dropdown .rc-picker-super-next-icon {
  transform: rotate(135deg);
}
.rc-picker-dropdown .rc-picker-content {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.rc-picker-dropdown .rc-picker-content th,
.rc-picker-dropdown .rc-picker-content td {
  position: relative;
  min-width: 24px;
  font-weight: normal;
}
.rc-picker-dropdown .rc-picker-content th {
  height: 36px;
  color: rgba(0, 0, 0, 0.88);
  vertical-align: middle;
}
.rc-picker-dropdown .rc-picker-cell {
  /* padding: 6px 0; */
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.rc-picker-dropdown .rc-picker-cell-in-view {
  color: rgba(0, 0, 0, 0.88);
}
.rc-picker-dropdown .rc-picker-cell::before {
  position: absolute;
  top: 50%;
  inset-inline-start: 0;
  inset-inline-end: 0;
  z-index: 1;
  height: 24px;
  transform: translateY(-50%);
  transition: all 0.3s;
  content: '';
}
.rc-picker-dropdown .rc-picker-cell .rc-picker-cell-inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  transition: background 0.2s, border 0.2s;
}
.rc-picker-dropdown .rc-picker-cell:hover:not(.rc-picker-cell-in-view) .rc-picker-cell-inner,
.rc-picker-dropdown
  .rc-picker-cell:hover:not(.rc-picker-cell-selected):not(.rc-picker-cell-range-start):not(
    .rc-picker-cell-range-end
  ):not(.rc-picker-cell-range-hover-start):not(.rc-picker-cell-range-hover-end)
  .rc-picker-cell-inner {
  background: rgba(0, 0, 0, 0.04);
}
.rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-today .rc-picker-cell-inner::before {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 0;
  z-index: 1;
  border: 1px solid #1677ff;
  border-radius: 4px;
  content: '';
}
.rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-in-range {
  position: relative;
}
.rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-in-range::before {
  background: #e6f4ff;
}
.rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-selected .rc-picker-cell-inner,
.rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-range-start .rc-picker-cell-inner,
.rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-range-end .rc-picker-cell-inner {
  color: #fff;
  background: #1677ff;
}
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-start:not(
    .rc-picker-cell-range-start-single
  )::before,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-end:not(.rc-picker-cell-range-end-single)::before {
  background: #e6f4ff;
}
.rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-range-start::before {
  inset-inline-start: 50%;
}
.rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-range-end::before {
  inset-inline-end: 50%;
}
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-hover-start:not(.rc-picker-cell-in-range):not(
    .rc-picker-cell-range-start
  ):not(.rc-picker-cell-range-end)::after,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-hover-end:not(.rc-picker-cell-in-range):not(
    .rc-picker-cell-range-start
  ):not(.rc-picker-cell-range-end)::after,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-hover-start.rc-picker-cell-range-start-single::after,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-hover-start.rc-picker-cell-range-start.rc-picker-cell-range-end.rc-picker-cell-range-end-near-hover::after,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-hover-end.rc-picker-cell-range-start.rc-picker-cell-range-end.rc-picker-cell-range-start-near-hover::after,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-hover-end.rc-picker-cell-range-end-single::after,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-hover:not(.rc-picker-cell-in-range)::after {
  position: absolute;
  top: 50%;
  z-index: 0;
  height: 24px;
  border-top: 1px dashed #7cb3ff;
  border-bottom: 1px dashed #7cb3ff;
  transform: translateY(-50%);
  transition: all 0.3s;
  content: '';
}
.rc-picker-dropdown .rc-picker-cell-range-hover-start::after,
.rc-picker-dropdown .rc-picker-cell-range-hover-end::after,
.rc-picker-dropdown .rc-picker-cell-range-hover::after {
  inset-inline-end: 0;
  inset-inline-start: 2px;
}
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-in-range.rc-picker-cell-range-hover::before,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-in-range.rc-picker-cell-range-hover-start::before,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-in-range.rc-picker-cell-range-hover-end::before,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-start.rc-picker-cell-range-hover::before,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-end.rc-picker-cell-range-hover::before,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-start:not(
    .rc-picker-cell-range-start-single
  ).rc-picker-cell-range-hover-start::before,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-end:not(
    .rc-picker-cell-range-end-single
  ).rc-picker-cell-range-hover-end::before,
.rc-picker-panel
  > :not(.rc-picker-date-panel)
  .rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-in-range.rc-picker-cell-range-hover-start::before,
.rc-picker-panel
  > :not(.rc-picker-date-panel)
  .rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-in-range.rc-picker-cell-range-hover-end::before {
  background: #c8dfff;
}
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-start:not(.rc-picker-cell-range-start-single):not(
    .rc-picker-cell-range-end
  )
  .rc-picker-cell-inner {
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-end:not(.rc-picker-cell-range-end-single):not(
    .rc-picker-cell-range-start
  )
  .rc-picker-cell-inner {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}
.rc-picker-dropdown .rc-picker-cell-range-hover.rc-picker-cell-range-end::after {
  inset-inline-start: 50%;
}
tr > .rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-range-hover:first-child::after,
tr > .rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-range-hover-end:first-child::after,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-start.rc-picker-cell-range-hover-edge-start.rc-picker-cell-range-hover-edge-start-near-range::after,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-hover-edge-start:not(
    .rc-picker-cell-range-hover-edge-start-near-range
  )::after,
.rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-range-hover-start::after {
  inset-inline-start: 6px;
  border-inline-start: 1px dashed #7cb3ff;
  border-start-start-radius: 1px;
  border-end-start-radius: 1px;
}
tr > .rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-range-hover:last-child::after,
tr > .rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-range-hover-start:last-child::after,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-end.rc-picker-cell-range-hover-edge-end.rc-picker-cell-range-hover-edge-end-near-range::after,
.rc-picker-dropdown
  .rc-picker-cell-in-view.rc-picker-cell-range-hover-edge-end:not(
    .rc-picker-cell-range-hover-edge-end-near-range
  )::after,
.rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-range-hover-end::after {
  inset-inline-end: 6px;
  border-inline-end: 1px dashed #7cb3ff;
  border-start-end-radius: 1px;
  border-end-end-radius: 1px;
}
.rc-picker-dropdown .rc-picker-cell-disabled {
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
.rc-picker-dropdown .rc-picker-cell-disabled .rc-picker-cell-inner {
  background: transparent;
}
.rc-picker-dropdown .rc-picker-cell-disabled::before {
  background: rgba(0, 0, 0, 0.04);
}
.rc-picker-dropdown .rc-picker-cell-disabled.rc-picker-cell-today .rc-picker-cell-inner::before {
  border-color: rgba(0, 0, 0, 0.25);
}
.rc-picker-dropdown
  .rc-picker-date-panel
  .rc-picker-cell-in-view.rc-picker-cell-in-range.rc-picker-cell-range-hover-start
  .rc-picker-cell-inner::after,
.rc-picker-dropdown
  .rc-picker-date-panel
  .rc-picker-cell-in-view.rc-picker-cell-in-range.rc-picker-cell-range-hover-end
  .rc-picker-cell-inner::after {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #c8dfff;
  transition: all 0.3s;
  content: '';
}
.rc-picker-dropdown
  .rc-picker-date-panel
  .rc-picker-cell-in-view.rc-picker-cell-in-range.rc-picker-cell-range-hover-start
  .rc-picker-cell-inner::after {
  inset-inline-end: -6px;
  inset-inline-start: 0;
}
.rc-picker-dropdown
  .rc-picker-date-panel
  .rc-picker-cell-in-view.rc-picker-cell-in-range.rc-picker-cell-range-hover-end
  .rc-picker-cell-inner::after {
  inset-inline-end: 0;
  inset-inline-start: -6px;
}
.rc-picker-dropdown .rc-picker-range-hover.rc-picker-range-start::after {
  inset-inline-end: 50%;
}
.rc-picker-dropdown .rc-picker-decade-panel .rc-picker-content,
.rc-picker-dropdown .rc-picker-year-panel .rc-picker-content,
.rc-picker-dropdown .rc-picker-quarter-panel .rc-picker-content,
.rc-picker-dropdown .rc-picker-month-panel .rc-picker-content {
  height: 264px;
}
.rc-picker-dropdown .rc-picker-decade-panel .rc-picker-cell-inner,
.rc-picker-dropdown .rc-picker-year-panel .rc-picker-cell-inner,
.rc-picker-dropdown .rc-picker-quarter-panel .rc-picker-cell-inner,
.rc-picker-dropdown .rc-picker-month-panel .rc-picker-cell-inner {
  padding: 0 8px;
}
.rc-picker-dropdown .rc-picker-quarter-panel .rc-picker-content {
  height: 56px;
}
.rc-picker-dropdown .rc-picker-quarter-panel .rc-picker-cell-range-hover-start::after {
  inset-inline-start: 8px;
  border-inline-start: 1px dashed #7cb3ff;
}
.rc-picker-panel-rtl
  .rc-picker-dropdown
  .rc-picker-quarter-panel
  .rc-picker-cell-range-hover-start::after {
  inset-inline-end: 8px;
  border-inline-end: 1px dashed #7cb3ff;
}
.rc-picker-dropdown .rc-picker-quarter-panel .rc-picker-cell-range-hover-end::after {
  inset-inline-end: 8px;
  border-inline-end: 1px dashed #7cb3ff;
}
.rc-picker-panel-rtl
  .rc-picker-dropdown
  .rc-picker-quarter-panel
  .rc-picker-cell-range-hover-end::after {
  inset-inline-start: 8px;
  border-inline-start: 1px dashed #7cb3ff;
}
.rc-picker-dropdown .rc-picker-panel .rc-picker-footer {
  border-top: 1px solid rgba(5, 5, 5, 0.06);
}
.rc-picker-dropdown .rc-picker-footer {
  width: min-content;
  min-width: 100%;
  line-height: 38px;
  text-align: center;
}
.rc-picker-dropdown .rc-picker-footer-extra {
  padding: 0 12;
  line-height: 38px;
  text-align: start;
}
.rc-picker-dropdown .rc-picker-footer-extra:not(:last-child) {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}
.rc-picker-dropdown .rc-picker-now {
  text-align: start;
}
.rc-picker-dropdown .rc-picker-today-btn {
  color: #1677ff;
}
.rc-picker-dropdown .rc-picker-today-btn:hover {
  color: #69b1ff;
}
.rc-picker-dropdown .rc-picker-today-btn:active {
  color: #0958d9;
}
.rc-picker-dropdown .rc-picker-today-btn.rc-picker-today-btn-disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.rc-picker-dropdown .rc-picker-decade-panel .rc-picker-cell-inner {
  padding: 0 4px;
}
.rc-picker-dropdown .rc-picker-decade-panel .rc-picker-cell::before {
  display: none;
}
.rc-picker-dropdown .rc-picker-year-panel .rc-picker-body,
.rc-picker-dropdown .rc-picker-quarter-panel .rc-picker-body,
.rc-picker-dropdown .rc-picker-month-panel .rc-picker-body {
  padding: 0 8px;
}
.rc-picker-dropdown .rc-picker-year-panel .rc-picker-cell-inner,
.rc-picker-dropdown .rc-picker-quarter-panel .rc-picker-cell-inner,
.rc-picker-dropdown .rc-picker-month-panel .rc-picker-cell-inner {
  width: 60px;
}
.rc-picker-dropdown .rc-picker-year-panel .rc-picker-cell-range-hover-start::after,
.rc-picker-dropdown .rc-picker-quarter-panel .rc-picker-cell-range-hover-start::after,
.rc-picker-dropdown .rc-picker-month-panel .rc-picker-cell-range-hover-start::after {
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
.rc-picker-panel-rtl
  .rc-picker-dropdown
  .rc-picker-year-panel
  .rc-picker-cell-range-hover-start::after,
.rc-picker-panel-rtl
  .rc-picker-dropdown
  .rc-picker-quarter-panel
  .rc-picker-cell-range-hover-start::after,
.rc-picker-panel-rtl
  .rc-picker-dropdown
  .rc-picker-month-panel
  .rc-picker-cell-range-hover-start::after {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}
.rc-picker-dropdown .rc-picker-year-panel .rc-picker-cell-range-hover-end::after,
.rc-picker-dropdown .rc-picker-quarter-panel .rc-picker-cell-range-hover-end::after,
.rc-picker-dropdown .rc-picker-month-panel .rc-picker-cell-range-hover-end::after {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}
.rc-picker-panel-rtl
  .rc-picker-dropdown
  .rc-picker-year-panel
  .rc-picker-cell-range-hover-end::after,
.rc-picker-panel-rtl
  .rc-picker-dropdown
  .rc-picker-quarter-panel
  .rc-picker-cell-range-hover-end::after,
.rc-picker-panel-rtl
  .rc-picker-dropdown
  .rc-picker-month-panel
  .rc-picker-cell-range-hover-end::after {
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
.rc-picker-dropdown .rc-picker-year-panel .rc-picker-cell-range-hover-start::after,
.rc-picker-dropdown .rc-picker-month-panel .rc-picker-cell-range-hover-start::after {
  inset-inline-start: 18.66666666666667px;
  border-inline-start: 1px dashed #7cb3ff;
}
.rc-picker-panel-rtl
  .rc-picker-dropdown
  .rc-picker-year-panel
  .rc-picker-cell-range-hover-start::after,
.rc-picker-panel-rtl
  .rc-picker-dropdown
  .rc-picker-month-panel
  .rc-picker-cell-range-hover-start::after {
  inset-inline-end: 18.66666666666667px;
  border-inline-end: 1px dashed #7cb3ff;
}
.rc-picker-dropdown .rc-picker-year-panel .rc-picker-cell-range-hover-end::after,
.rc-picker-dropdown .rc-picker-month-panel .rc-picker-cell-range-hover-end::after {
  inset-inline-end: 18.66666666666667px;
  border-inline-end: 1px dashed #7cb3ff;
}
.rc-picker-panel-rtl
  .rc-picker-dropdown
  .rc-picker-year-panel
  .rc-picker-cell-range-hover-end::after,
.rc-picker-panel-rtl
  .rc-picker-dropdown
  .rc-picker-month-panel
  .rc-picker-cell-range-hover-end::after {
  inset-inline-start: 18.66666666666667px;
  border-inline-start: 1px dashed #7cb3ff;
}
.rc-picker-dropdown .rc-picker-week-panel .rc-picker-body {
  padding: 8px 12px;
}
.rc-picker-dropdown .rc-picker-week-panel .rc-picker-cell:hover .rc-picker-cell-inner,
.rc-picker-dropdown .rc-picker-week-panel .rc-picker-cell-selected .rc-picker-cell-inner,
.rc-picker-dropdown .rc-picker-week-panel .rc-picker-cell .rc-picker-cell-inner {
  background: transparent !important;
}
.rc-picker-dropdown .rc-picker-week-panel-row td:before {
  transition: background 0.2s;
}
.rc-picker-dropdown .rc-picker-week-panel-row td:first-child:before {
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
}
.rc-picker-dropdown .rc-picker-week-panel-row td:last-child:before {
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}
.rc-picker-dropdown .rc-picker-week-panel-row:hover td:before {
  background: rgba(0, 0, 0, 0.04);
}
.rc-picker-dropdown .rc-picker-week-panel-row:hover .rc-picker-cell {
  background: rgba(0, 0, 0, 0.04);
}
.rc-picker-cell-range-hover-start::after,
.rc-picker-cell-range-hover-end::after,
.rc-picker-cell-range-hover::after {
  border: none;
}
.rc-picker-dropdown .rc-picker-cell-in-view.rc-picker-cell-today .rc-picker-cell-inner::before {
  border: none;
}
.rc-picker-dropdown .rc-picker-week-panel-row-range-start td.rc-picker-cell:before,
.rc-picker-dropdown .rc-picker-week-panel-row-range-end td.rc-picker-cell:before,
.rc-picker-dropdown .rc-picker-week-panel-row-selected td.rc-picker-cell:before {
  background: #1677ff;
}
.rc-picker-dropdown .rc-picker-week-panel-row-range-start td.rc-picker-cell.rc-picker-cell-week,
.rc-picker-dropdown .rc-picker-week-panel-row-range-end td.rc-picker-cell.rc-picker-cell-week,
.rc-picker-dropdown .rc-picker-week-panel-row-selected td.rc-picker-cell.rc-picker-cell-week {
  color: #ffffff;
}
.rc-picker-dropdown .rc-picker-week-panel-row-range-start td.rc-picker-cell .rc-picker-cell-inner,
.rc-picker-dropdown .rc-picker-week-panel-row-range-end td.rc-picker-cell .rc-picker-cell-inner,
.rc-picker-dropdown .rc-picker-week-panel-row-selected td.rc-picker-cell .rc-picker-cell-inner {
  color: #fff;
}
.rc-picker-dropdown .rc-picker-week-panel-row-range-hover td:before {
  background: #e6f4ff;
}
.rc-picker-dropdown .rc-picker-date-panel .rc-picker-body {
  padding: 10px;
}
.rc-picker-dropdown .rc-picker-date-panel .rc-picker-content {
  width: 252px;
}
.rc-picker-dropdown .rc-picker-date-panel .rc-picker-content th {
  width: 36px;
}
.rc-picker-dropdown .rc-picker-datetime-panel {
  display: flex;
}
.rc-picker-dropdown .rc-picker-datetime-panel .rc-picker-time-panel {
  border-inline-start: 1px solid rgba(5, 5, 5, 0.06);
}
.rc-picker-dropdown .rc-picker-datetime-panel .rc-picker-date-panel,
.rc-picker-dropdown .rc-picker-datetime-panel .rc-picker-time-panel {
  transition: opacity 0.3s;
}
.rc-picker-dropdown .rc-picker-datetime-panel-active .rc-picker-date-panel,
.rc-picker-dropdown .rc-picker-datetime-panel-active .rc-picker-time-panel {
  opacity: 0.3;
}
.rc-picker-dropdown .rc-picker-datetime-panel-active .rc-picker-date-panel-active,
.rc-picker-dropdown .rc-picker-datetime-panel-active .rc-picker-time-panel-active {
  opacity: 1;
}
.rc-picker-dropdown .rc-picker-time-panel {
  width: auto;
  min-width: auto;
  direction: ltr;
}
.rc-picker-dropdown .rc-picker-time-panel .rc-picker-content {
  display: flex;
  flex: auto;
  height: 224px;
}
.rc-picker-dropdown .rc-picker-time-panel-column {
  flex: 1 0 auto;
  width: 56px;
  margin: 4px 0;
  padding: 0;
  overflow-y: hidden;
  text-align: start;
  list-style: none;
  transition: background 0.2s;
  overflow-x: hidden;
}
.rc-picker-dropdown .rc-picker-time-panel-column::after {
  display: block;
  height: 196px;
  content: '';
}
.rc-picker-dropdown .rc-picker-time-panel-column:not(:first-child) {
  border-inline-start: 1px solid rgba(5, 5, 5, 0.06);
}
.rc-picker-dropdown .rc-picker-time-panel-column-active {
  background: #e6f4ff;
}
.rc-picker-dropdown .rc-picker-time-panel-column:hover {
  overflow-y: auto;
}
.rc-picker-dropdown .rc-picker-time-panel-column > li {
  margin: 0;
  padding: 0;
}
.rc-picker-dropdown .rc-picker-time-panel-column > li.rc-picker-time-panel-cell {
  margin-inline: 4px;
}
.rc-picker-dropdown
  .rc-picker-time-panel-column
  > li.rc-picker-time-panel-cell
  .rc-picker-time-panel-cell-inner {
  display: block;
  width: 48px;
  height: 28px;
  margin: 0;
  padding-block: 0;
  padding-inline-end: 0;
  padding-inline-start: 14px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 28px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}
.rc-picker-dropdown
  .rc-picker-time-panel-column
  > li.rc-picker-time-panel-cell
  .rc-picker-time-panel-cell-inner:hover {
  background: rgba(0, 0, 0, 0.04);
}
.rc-picker-dropdown
  .rc-picker-time-panel-column
  > li.rc-picker-time-panel-cell-selected
  .rc-picker-time-panel-cell-inner {
  background: #e6f4ff;
}
.rc-picker-dropdown
  .rc-picker-time-panel-column
  > li.rc-picker-time-panel-cell-disabled
  .rc-picker-time-panel-cell-inner {
  color: rgba(0, 0, 0, 0.25);
  background: transparent;
  cursor: not-allowed;
}
.rc-picker-dropdown .rc-picker-datetime-panel .rc-picker-time-panel-column:after {
  height: 204px;
}
.rc-picker-dropdown.rc-picker-dropdown-hidden {
  display: none;
}
.rc-picker-dropdown.rc-picker-dropdown-placement-bottomLeft .rc-picker-range-arrow {
  top: 0;
  display: block;
  transform: translateY(-100%);
}
.rc-picker-dropdown.rc-picker-dropdown-placement-topLeft .rc-picker-range-arrow {
  bottom: 0;
  display: block;
  transform: translateY(100%) rotate(180deg);
}
.rc-picker-dropdown.rc-slide-up-enter.rc-slide-up-enter-active.rc-picker-dropdown-placement-topLeft,
.rc-picker-dropdown.rc-slide-up-enter.rc-slide-up-enter-active.rc-picker-dropdown-placement-topRight,
.rc-picker-dropdown.rc-slide-up-appear.rc-slide-up-appear-active.rc-picker-dropdown-placement-topLeft,
.rc-picker-dropdown.rc-slide-up-appear.rc-slide-up-appear-active.rc-picker-dropdown-placement-topRight {
  animation-name: css-dev-only-do-not-override-1vtf12y-antSlideDownIn;
}
.rc-picker-dropdown.rc-slide-up-enter.rc-slide-up-enter-active.rc-picker-dropdown-placement-bottomLeft,
.rc-picker-dropdown.rc-slide-up-enter.rc-slide-up-enter-active.rc-picker-dropdown-placement-bottomRight,
.rc-picker-dropdown.rc-slide-up-appear.rc-slide-up-appear-active.rc-picker-dropdown-placement-bottomLeft,
.rc-picker-dropdown.rc-slide-up-appear.rc-slide-up-appear-active.rc-picker-dropdown-placement-bottomRight {
  animation-name: css-dev-only-do-not-override-1vtf12y-antSlideUpIn;
}
.rc-picker-dropdown.rc-slide-up-leave.rc-slide-up-leave-active.rc-picker-dropdown-placement-topLeft,
.rc-picker-dropdown.rc-slide-up-leave.rc-slide-up-leave-active.rc-picker-dropdown-placement-topRight {
  animation-name: css-dev-only-do-not-override-1vtf12y-antSlideDownOut;
}
.rc-picker-dropdown.rc-slide-up-leave.rc-slide-up-leave-active.rc-picker-dropdown-placement-bottomLeft,
.rc-picker-dropdown.rc-slide-up-leave.rc-slide-up-leave-active.rc-picker-dropdown-placement-bottomRight {
  animation-name: css-dev-only-do-not-override-1vtf12y-antSlideUpOut;
}
.rc-picker-dropdown .rc-picker-panel > .rc-picker-time-panel {
  padding-top: 4px;
}
.rc-picker-dropdown .rc-picker-ranges {
  margin-bottom: 0;
  padding: 4px 12px;
  overflow: hidden;
  line-height: 34px;
  text-align: start;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.rc-picker-dropdown .rc-picker-ranges > li {
  display: inline-block;
}
.rc-picker-dropdown .rc-picker-ranges .rc-picker-preset > .rc-tag-blue {
  color: #1677ff;
  background: #e6f4ff;
  border-color: #91caff;
  cursor: pointer;
}
.rc-picker-dropdown .rc-picker-ranges .rc-picker-ok {
  margin-inline-start: auto;
}
.rc-picker-dropdown .rc-picker-range-wrapper {
  display: flex;
  position: relative;
}
.rc-picker-dropdown .rc-picker-range-arrow {
  position: absolute;
  z-index: 1;
  display: none;
  margin-inline-start: 16.5px;
  transition: left 0.3s ease-out;
  pointer-events: none;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.rc-picker-dropdown .rc-picker-range-arrow::before {
  position: absolute;
  bottom: 0;
  inset-inline-start: 0;
  width: 16px;
  height: 8px;
  background: #ffffff;
  clip-path: path(
    'M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z'
  );
  content: '';
}
.rc-picker-dropdown .rc-picker-range-arrow::after {
  content: '';
  position: absolute;
  width: 8.970562748477143px;
  height: 8.970562748477143px;
  bottom: 0;
  inset-inline: 0;
  margin: auto;
  border-radius: 0 0 2px 0;
  transform: translateY(50%) rotate(-135deg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  z-index: 0;
  background: transparent;
}
.rc-picker-dropdown .rc-picker-panel-container {
  overflow: hidden;
  vertical-align: top;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  transition: margin 0.3s;
}
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-panel-layout {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-presets {
  display: flex;
  flex-direction: column;
  min-width: 120px;
  max-width: 200px;
}
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-presets ul {
  height: 0;
  flex: auto;
  list-style: none;
  overflow: auto;
  margin: 0;
  padding: 8px;
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
}
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-presets ul li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 4px;
  padding-inline: 8px;
  padding-block: 1px;
  cursor: pointer;
  transition: all 0.3s;
}
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-presets ul li + li {
  margin-top: 8px;
}
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-presets ul li:hover {
  background: rgba(0, 0, 0, 0.04);
}
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-panels {
  display: inline-flex;
  flex-wrap: nowrap;
  direction: ltr;
}
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-panels .rc-picker-panel {
  border-width: 0 0 1px;
}
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-panels:last-child .rc-picker-panel {
  border-width: 0;
}
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-panel {
  vertical-align: top;
  background: transparent;
  border-radius: 0;
  border-width: 0;
}
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-panel .rc-picker-content,
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-panel table {
  text-align: center;
}
.rc-picker-dropdown .rc-picker-panel-container .rc-picker-panel-focused {
  border-color: #d9d9d9;
}
.rc-picker-dropdown-range {
  padding: 10.666666666666666px 0;
}
.rc-picker-dropdown-range-hidden {
  display: none;
}
.rc-picker-rtl {
  direction: rtl;
}
.rc-picker-rtl .rc-picker-separator {
  transform: rotate(180deg);
}
.rc-picker-rtl .rc-picker-footer-extra {
  direction: rtl;
}
